<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8" />
    <title>K-Shield Jr 9 A_3</title>
    <link rel="stylesheet" href="/css/admin.css" />
  </head>

  <body>
    <section class="home-section">
      <nav>
        <span
          >Admin Dashboard
          <a href="/">main page</a>
        </span>
      </nav>

      <div class="home-content">
        <div class="sales-boxes">
          <div class="recent-sales box">
            <div class="title">User Database</div>

            <% if(users == null || users.length == 0){ %>
            <li class="list-group-item">There is no user yet.</li>
            <% } %>

            <div class="sales-details">
              <ul class="details">
                <li class="topic">id</li>
                <% users.forEach(function(user) { %> <% if (user.username=="")
                {%>
                <li><a href="#">&nbsp;</a></li>
                <% }%>
                <li><a href="#"><%= user.username %></a></li>
                <% }) %>
              </ul>

              <ul class="details">
                <li class="topic">name</li>
                <% users.forEach(function(user) { %> <% if (user.name=="") {%>
                <li><a href="#">&nbsp;</a></li>
                <% }%>
                <li><a href="#"><%= user.name %></a></li>
                <% }) %>
              </ul>

              <ul class="details">
                <li class="topic">email</li>
                <% users.forEach(function(user) { %> <% if (user.email=="") {%>
                <li><a href="#">&nbsp;</a></li>
                <% }%>
                <li><a href="#"><%= user.email %></a></li>
                <% }) %>
              </ul>

              <ul class="details">
                <li class="topic">Delete</li>
                <% users.forEach(function(user) { %>
                <div class="button">
                  <form
                    action="/admin/<%=user._id%>?_method=delete"
                    method="post"
                  >
                    <a
                      href="javascript:void(0)"
                      onclick="confirm('Do you want to delete this?')?this.parentElement.submit():null;"
                      >Delete</a
                    >
                  </form>
                </div>
                <% }) %>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
