<!DOCTYPE html>
<html>
  <head>
    <%- include('../partials/head') %>
  </head>
  <body>
    <%- include('../partials/nav') %>

    <div class="container mb-3">
      <div class="jumbotron">
        <div class="text-center">
          <div style="width: 40%; float: none; margin: 0 auto">
            <% if(imgUrl=="main"){ %>
              <img src="/images/logo.png" width="200">
            <% } %>

            <% if(imgUrl=="error"){ %>
              <img src="error" width="200">
            <% } %>
    
            <% if(imgUrl=="link"){ %>
              <img width='200' src='data:image/jpeg; base64, <%= img %>';
            <% } %>

            <br />
            <h3>Image Viewer</h3>
            <form action="/about/img_viewer" method="post">
              <div class="form-group">
                <label for="url"
                  >Enter the URL address of the image you want to see.</label
                >
                <input
                  type="text"
                  class="form-control"
                  id="url"
                  placeholder="URL"
                  name="url"
                  required
                />
              </div>
              <button class="btn btn-primary" type="submit">view</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
