<!DOCTYPE html>
<html>
  <head>
    <%- include('../partials/head') %>
  </head>
  <body>
    <%- include('../partials/nav') %>
    <div class="container mb-3">
      <div class="jumbotron d-flex flex-column align-items-center">
        <h3>Pentration Scenario</h3>

        <div class="d-flex flex-column align-items-center pt-5">
          <h5 class="pb-2">NoSQL Injection</h5>
          <img src="/images/nosqli.png" width="70%" />
        </div>

        <div class="d-flex flex-column align-items-center pt-5">
          <h5 class="pb-2">XSS</h5>
          <img src="/images/xss.png" width="70%" />
        </div>

        <div class="d-flex flex-column align-items-center pt-5">
          <h5 class="pb-2">SSRF</h5>
          <img src="/images/ssrf.png" width="70%" />
        </div>

        <div class="d-flex flex-column align-items-center pt-5">
          <h5 class="pb-2">SSTI</h5>
          <img src="/images/ssti.png" width="70%" />
        </div>
      </div>
    </div>
  </body>
</html>
