<!DOCTYPE html>
<html>
  <head>
    <%- include('../partials/head') %>
  </head>
  <body>
    <%- include('../partials/nav') %>
    <div class="container mb-3">
      <div class="jumbotron">
        <h3><%- content %></h3>
      </div>
    </div>
  </body>
</html>
